@charset "UTF-8";

/* Cores utilizadas*/
:root {
    --cor1: #403F39;
    --cor2: #D9D7C5;
    --cor3: #8C8A80;
    --cor4: #0D0D0D;
    --cor5: #F2E852;
}



/*Reset*/
* {
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 10vh;
    align-items: center;
}

header img {
    padding: 10px;
    align-self: flex-start;

}

header>span {
    font-size: 1em;
    margin: auto;

}

.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.menu {
    width: 35px;
    height: 2px;
    background-color: #0D0D0D;
    margin: 5px;
    display: none;
}

#lista {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: 25px;
}

#lista>li {
    display: inline-block;
    padding: 10px;
}

.item {
    text-decoration: none;
    padding: 20px;
    margin-right: 30px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--cor4);
    font-weight: normal;
    display: inline-block;
}

header>span>a {
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: var(--cor4);
}

#cart:hover {
    border-bottom: 1px solid var(--cor4);
}

.item:hover {
    background-color: var(--cor4);
    color: var(--cor2);
}

#lista2 {
    display: none;
}

.nav {
    display: none;
}

/* Main Content */


body {
    background-color: var(--cor2);
}

main {
    max-width: 800px;
    min-width: 300px;
    height: 90vh;
    margin: auto;
    text-align: justify;
}

main>h1 {
    text-align: center;
    font-size: 5.7em;
    margin-bottom: 0;
}

main>p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

#botao {
    text-align: center;
}

#botao2 {
    background-color: var(--cor4);
    color: var(--cor2);
    padding: 20px;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    margin-top: 30px;
}

#botao2:hover {
    cursor: pointer;
}

.span {
    display: inline-block;
    width: 230px;
    height: 150px;
    font-size: 20px;
    border-right: 2px solid var(--cor4);
}

#span3 {
    border: none;
}

#div2 {
    text-align: center;
    max-width: 1000px;
    min-width: 300px;
    margin-top: 120px;
    padding: 40px;
}


/* Responsividade */

@media screen and (max-width: 920px) and (min-width: 300px) {

    #imag {
        margin: 0;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #cart {
        display: none;
    }

    #lista {
        display: none;
    }

    .nav {
        display: block;
    }

    #lista2 {
        display: flex;
        flex-direction: row;
        padding: 0;
        height: 0;
        background-color: #0D0D0D;
        color: #D9D7C5;
        transform: translateY(0px);
        transition: ease-in-out 0.3s;
        overflow: hidden;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    #lista2>li {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .item2:hover {
        background-color: var(--cor2);
        color: var(--cor4);

    }

    .menu-mobile:focus + #lista2 {
        padding: 20px;
        height: 38vh;
    }

    .item2 {
        margin: 0;
        color: var(--cor2);
        width: 100%;
        text-decoration: none;
        font-size: 1em;
    }

    .menu {
        display: initial;
    }

    #div2 {
        display: grid;
        font-size: 25px;
        text-align: center;
        margin: auto;
        margin-top: 60px;
        justify-content: center;
    }

    .span {
        border-right: none;
        border-bottom: 2px solid var(--cor4);
        margin-bottom: 10px;
    }
}

