@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
}

#all {
    height: 100%;
    width: 100%;
}


#content, #banner {
    display: inline-block;
}

#content {
    background-color: white;
    width: 60%;
    height: 100%;
}

#banner {
    float: right;
    width: 40%;
    height: 100%;
}

#content>header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#content>header>img, #content>header>a {
    margin: 50px;
}

#content>header>a {
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#content>header>a:hover {
    border-bottom: 2px solid black;
}

#content>main {
    display: block;
    text-align: center;
}

#content>main>h1 {
    font-weight: bold;
    font-size: 3.5pc;
    text-align: left;
    transform: translate(90px, 40px);
}

.button {
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    transform: translate(-150px, 50px);
    text-align: left;
}

.button:hover {
    background-color: black;
    color: white;
}

#img {
    width: 100%;
    height: 100%;
}

#img2 {
    width: 20%;
    height: 30%;
    transform: translate(235px, 60px);
}

/*Responsividade*/

@media screen and (max-width: 1300px) {
    #content {
        width: 100%;
    }

    #content>header {
        justify-content: space-between;
        align-items: stretch;
    }

    .button {
        position: relative;
        left: 140px;
    }

    #content>main>h1 {
        font-size: 2pc;
    }

    #banner {
        display: none;
    }

}

@media screen and (max-width: 800px) and (min-width: 401px) {
    #content>main {
        text-align: center;
    }

    #content>main>h1 {
        display: block;
        margin-left: 80px;
        margin-top: 20px;
        transform: translate(0, 0);
        text-align: left;
    }

    .button {
        margin-top: 30px;
    }

    #content>main>img {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #content {
        overflow: hidden;
    }

    #content>header {
        text-align: center;
        margin-bottom: 20px;
    }

    #content>header>a {
        margin-left: 0;
    }

    #content>main>h1 {
        margin-left: 0;
        transform: translateX(17px);
    }

    #content>main>img {
        display: none;
    }
}